<h2>使用者列表</h2>

<table class="table table-hover">
	<thead>
		<tr>
			<th>Logo</th>
			<th>email</th>
			<th>Name</th>
			<th>School</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		<% @users.each do |user| %>
			<tr>
				<td><%= image_tag user.logo.url(:thumb)%></td>
				<td><%= link_to "#{user.email}", user_path(user) %></td>
				<td><%= user.name %></td>
				<td><%= user.school %></td>
				<td><%= truncate(user.description, :length => 100) %></td>
			</tr>
		<% end %>
	</tbody>
</table>
<%= paginate @users %>