<%= image_tag @user.logo.url(:medium) %>
<h2><%= @user.name %></h2>
<% @user.categories.each do |category| %>
	<span class="label label-primary"><%= category.name %></span>
<% end %>
<p><%= @user.description%></p>	
<%= link_to '取得聯繫', '#', :class => 'btn btn-primary' %>