<%= form_for @project, :url => @url, :method => @method, html: { multipart: true } do |f|%>
	<% if @project.errors.any? %>
    <div class="alert alert-warning" role="alert">
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </div>
	<% end %>
	
	<div class="form-group">
		<%= f.label :name, "Name:" %>
		<%= f.text_field :name, :class => "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :category, "Category:" %>
		<%= f.collection_select :category, Category.all, :name, :name, :prompt => "Please select" %>
	</div>

	<div class="form-group">
		<%= f.label :location, "Location:" %>
		<%= f.text_field :location, :class => "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :vision, "Vision:" %>
		<%= f.text_area :vision, :class => "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :story, "Story:" %>
		<%= f.text_area :story, :class => "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :description, "Description:" %>
		<%= f.text_area :description, :class => "form-control" %>
	</div>
	
	<div class="form-group">
		<%= f.label :categories, "Categories:" %>
		<%= f.collection_check_boxes(:category_ids, Category.all, :id, :name)%>
	</div>

	<div class="form-group">
		<%= f.label :status, "Status:" %>
		<%= f.select :status, [["募集中", "募集中"], ["進行中", "進行中"], ["已完成","已完成"]]  %>
	</div>

	<div class="form-group">
		<%= f.label :startdate, "Startdate:" %>
		<%= f.date_select :startdate, :start_year => Time.now.year %>
	</div>

	<div class="form-group">
		<%= f.label :deadline, "Deadline:" %>
		<%= f.date_select :deadline, :start_year => Time.now.year %>
	</div>


	<%= f.label :positions, "Positions:" %>
	<%= f.add_nested_fields_link :positions, '', :class => "btn btn-xs btn-success glyphicon glyphicon glyphicon-plus"%>
	<%= f.nested_fields_for :positions do |af| %>
		<div class="form-inline">
    	<div class="form-group">
				<%= af.text_field :name, :class => "form-control", :placeholder => "name"  %>
    	</div>

    	<div class="form-group">
    		<%= af.text_field :description, :class => "form-control", :placeholder => "description" %>
    	</div>

    	<div class="form-group">
				<%= af.collection_select :category_id, Category.all, :id, :name, :prompt => "Please select" %>
    	</div>
    	<%= af.remove_nested_fields_link '', :class => "btn btn-xs btn-danger glyphicon glyphicon glyphicon-remove"%>
    </div>
	<% end %>

	<div class="form-group">
		<%= label_tag "上傳圖片:" %>
    <%= file_field_tag "photos[]", multiple: true %>
	</div>

	<%= f.submit @submit_name, :class => "btn btn-primary" %>
<% end if current_user %>


<hr style="height:2px;border:none;color:#333;background-color:#333;" />
<table class="table table-hover">
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>Location</th>
			<th>Description</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
		<% @projects.each do |project| %>
			<tr>
				<td><%= image_tag set_image_url(project, "thumb") %></td>
				<td><%= link_to project.name, project_path(project) %></td>
				<td><%= project.location %></td>
				<td><%= truncate(project.description, :length => 70) %></td>
				<td><%= project.status %></td>
				<td>
					<%= link_to "", projects_path( :id => project, :page => params[:page]), :class => "btn btn-primary glyphicon glyphicon-pencil" %>
					<%= link_to "", project_path( project , :page => params[:page]), :method => :delete, :class => "btn btn-danger glyphicon glyphicon glyphicon-trash" %>
				</td>
			</tr>
		
		<% end %>
	</tbody>
</table>

<%= paginate @projects %>
