<%= form_for @project, :url => @url, :method => @method, html: { multipart: true } do |f|%>
	<% if @project.errors.any? %>
    <div class="alert alert-warning" role="alert">
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </div>
	<% end %>
	
	<div class="form-group">
		<%= f.label :name, "Name:" %>
		<%= f.text_field :name, :class => "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :location, "Location:" %>
		<%= f.text_field :location, :class => "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :school, "School:" %>
		<%= f.text_field :school, :class => "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :description, "Description:" %>
		<%= f.text_area :description, :class => "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :status, "Status:" %>
		<%= f.select :status, [["募集中", "募集中"], ["進行中", "進行中"], ["已完成","已完成"]]  %>
	</div>

	<div class="form-group">
    	<%= file_field_tag "photos[]", multiple: true %>
	</div>

	<%= f.submit @submit_name, :class => "btn btn-primary" %>
<% end %>


<hr style="height:2px;border:none;color:#333;background-color:#333;" />
<table class="table table-hover">
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>Location</th>
			<th>School</th>
			<th>Description</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
		<% @projects.each do |project| %>
			<tr>
				<td><%= image_tag set_image_url(project, "thumb") %></td>
				<td><%= link_to project.name, project_path(project) %></td>
				<td><%= project.location %></td>
				<td><%= project.school %></td>
				<td><%= truncate(project.description, :length => 70) %></td>
				<td><%= project.status %></td>
				<td>
					<%= link_to "", projects_path( :id => project, :page => params[:page]), :class => "btn btn-primary glyphicon glyphicon-pencil" %>
					<%= link_to "", project_path( project , :page => params[:page]), :method => :delete, :class => "btn btn-danger glyphicon glyphicon glyphicon-trash" %>
				</td>
			</tr>
		
		<% end %>
	</tbody>
</table>

<%= paginate @projects %>
